In [29]:
import numpy as np
import pandas as pd

import tensorflow as tf
from tensorflow.keras.models import Model,Sequential
from tensorflow.keras.layers import Input, Dense, Activation,Dropout,Conv1D,MaxPooling1D,LSTM,BatchNormalization

from keras import metrics,layers
from keras.datasets import mnist
from keras.utils import np_utils
from keras.models import Sequential
from keras.optimizers import Adam

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,MinMaxScaler

labelencoder = LabelEncoder()
scaler = MinMaxScaler()

In [48]:
df = pd.read_csv('da.data',header=None,encoding='utf-8')
td = pd.read_csv('te.test',header=None,encoding='utf-8')

In [49]:
df.columns=['age', 'workclass', 'fnlwgt', 'education', 'education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','salary']
td.columns=['age', 'workclass', 'fnlwgt', 'education', 'education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','salary']

In [64]:
df

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,5,77516,13,4,0,1,4,1,2174,0,40,38,0
1,50,4,83311,13,2,3,0,4,1,0,0,13,38,0
2,38,2,215646,9,0,5,1,4,1,0,0,40,38,0
3,53,2,234721,7,2,5,0,2,1,0,0,40,38,0
4,28,2,338409,13,2,9,5,2,0,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,257302,12,2,12,5,4,0,0,0,38,38,0
32557,40,2,154374,9,2,6,0,4,1,0,0,40,38,1
32558,58,2,151910,9,6,0,4,4,0,0,0,40,38,0
32559,22,2,201490,9,4,0,3,4,1,0,0,20,38,0
32560,52,3,287927,9,2,3,5,4,0,15024,0,40,38,1

In [66]:
td

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,25,Private,226802,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,39,Private,215419,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
16277,64,?,321403,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.
16278,38,Private,374983,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
16279,44,Private,83891,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
16280,35,Self-emp-inc,182148,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

for i in range(0,len(df)):
    df['capital-gain'][i]=format(float(df['capital-gain'][i])/float(1000),'.10f')

In [68]:
df=df.replace({' ?':np.nan}).dropna()

In [51]:
df_y=pd.get_dummies(df['education'], axis=1)
td_y=pd.get_dummies(td['education'])

In [52]:
df=df.drop('education',axis=1)
td=td.drop('education',axis=1)

In [53]:
td_y

,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
16277,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
16278,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
16279,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
16280,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [54]:
df['workclass'] = labelencoder.fit_transform(df['workclass'])
df['marital-status'] = labelencoder.fit_transform(df['marital-status'])
df['occupation'] = labelencoder.fit_transform(df['occupation'])
df['relationship'] = labelencoder.fit_transform(df['relationship'])
df['race'] = labelencoder.fit_transform(df['race'])
df['sex'] = labelencoder.fit_transform(df['sex'])
df['native-country'] = labelencoder.fit_transform(df['native-country'])
df['salary'] = labelencoder.fit_transform(df['salary'])

train_x = train2.drop('capital-gain', axis=1)
train_y = train2['capital-gain']

x = pd.get_dummies(train_x)
y = pd.get_dummies(train_y)

x_train,x_test,y_train,y_test = train_test_split(df,df_y,test_size=0.2)

In [55]:
# normalize
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
train1 = scaler.fit_transform(df)
train2 = pd.DataFrame(train1,columns=df.columns)
train2

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,0.301370,0.833333,0.043338,0.800000,0.666667,0.000000,0.2,1.0,1.0,0.021740,0.0,0.397959,0.95,0.0
1,0.452055,0.666667,0.047277,0.800000,0.333333,0.230769,0.0,1.0,1.0,0.000000,0.0,0.122449,0.95,0.0
2,0.287671,0.333333,0.137244,0.533333,0.000000,0.384615,0.2,1.0,1.0,0.000000,0.0,0.397959,0.95,0.0
3,0.493151,0.333333,0.150212,0.400000,0.333333,0.384615,0.0,0.5,1.0,0.000000,0.0,0.397959,0.95,0.0
4,0.150685,0.333333,0.220703,0.800000,0.333333,0.692308,1.0,0.5,0.0,0.000000,0.0,0.397959,0.10,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,0.136986,0.333333,0.165563,0.733333,0.333333,0.923077,1.0,1.0,0.0,0.000000,0.0,0.377551,0.95,0.0
30158,0.315068,0.333333,0.095589,0.533333,0.333333,0.461538,0.0,1.0,1.0,0.000000,0.0,0.397959,0.95,1.0
30159,0.561644,0.333333,0.093914,0.533333,1.000000,0.000000,0.8,1.0,0.0,0.000000,0.0,0.397959,0.95,0.0
30160,0.068493,0.333333,0.127620,0.533333,0.666667,0.000000,0.6,1.0,1.0,0.000000,0.0,0.193878,0.95,0.0
30161,0.479452,0.500000,0.186383,0.533333,0.333333,0.230769,1.0,1.0,0.0,0.150242,0.0,0.397959,0.95,1.0

In [56]:
x_train,x_test,y_train,y_test = train_test_split(df,df_y,test_size=0.2)

In [57]:
y_train.shape

(24129, 16)

"""


input_layer = Input(shape=(x_train.shape[1],))
dense_layer_1 = Dense(64,kernel_initializer=tf.keras.initializers.GlorotNormal(),activation='relu', name ="nl1" )(input_layer)
dense_layer_2 = Dense(32,kernel_initializer=tf.keras.initializers.GlorotNormal(),activation='relu', name ="nl2" )(dense_layer_1)
dense_layer_2 = Dense(20,activation='relu', name ="nl3" )(dense_layer_2)
dense_layer_2 = BatchNormalization()(dense_layer_2)
dense_layer_2 = Dense(20,activation='relu', name ="nl4" )(dense_layer_2)
dense_layer_2 = Dropout(0.6)(dense_layer_2)

output = Dense(1,activation='softmax')(dense_layer_2)
model = Model(inputs=input_layer, outputs=output)
model = Model(inputs=input_layer, outputs=output)
model.summary()


model.add(Dense(shape=(x_train.shape[1]), input_dim=14,activation='relu', kernel_regularizer = l2(0.01)))
model.add(BatchNormalization())
model.add(Dense(10,  activation='softmax', kernel_regularizer = l2(0.01)))
model.add(Dense(units=x_train.shape, activation='linear'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, batch_size=1024, verbose=1)





model = Sequential()

model.add(Conv1D(filters=256, kernel_size=5, padding='same', activation='relu',input_shape=(x_train.shape)))
model.add(MaxPooling1D(pool_size=4))
model.add(LSTM(64))
model.add(Dropout(0.9))
model.add(Dense(64,kernel_initializer=tf.keras.initializers.GlorotNormal(),activation='relu', name ="nl1" ))
model.add(Dense(1)) 


model.compile(optimizer='adam', loss='mean_squared_error', metrics=['accuracy'])

model.summary()
"""

model = Sequential()

model.add(Input(shape=(x_train.shape[1],)))
model.add(Dense(units=20, kernel_initializer=tf.keras.initializers.GlorotNormal(), activation='relu')) 
model.add(BatchNormalization())
model.add(Dropout(0.9))
#model.add(Dense(units=5, kernel_initializer=tf.keras.initializers.GlorotNormal(), activation='relu'))
#model.add(BatchNormalization())
#model.add(Dense(units=10, kernel_initializer=tf.keras.initializers.GlorotNormal(), activation='relu'))
#model.add(BatchNormalization())
#model.add(Dense(units=6, kernel_initializer=tf.keras.initializers.GlorotNormal(), activation='relu'))
model.add(Dense(y_train.shape[1],activation='softmax'))

model.summary()

In [58]:

input_layer = Input(shape=(x_train.shape[1],))
dense_layer_1 =Dense(32,kernel_initializer=tf.keras.initializers.GlorotNormal() ,activation='relu', name ="nl1" )(input_layer)
dense_layer_2 = Dense(16,kernel_initializer=tf.keras.initializers.GlorotNormal(),activation='relu', name ="nl2" )(dense_layer_1)
dense_layer_2 = Dense(10,activation='relu', name ="nl3" )(dense_layer_2)
dense_layer_2 = Dense(10,activation='relu', name ="nl4" )(dense_layer_2)
dense_layer_2 = Dropout(0.5)(dense_layer_2)
output = Dense(y_train.shape[1],activation='softmax')(dense_layer_2)
model = Model(inputs=input_layer, outputs=output)
model = Model(inputs=input_layer, outputs=output)
model.summary()

Model: "model_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 14)]              0
_________________________________________________________________
nl1 (Dense)                  (None, 32)                480
_________________________________________________________________
nl2 (Dense)                  (None, 16)                528
_________________________________________________________________
nl3 (Dense)                  (None, 10)                170
_________________________________________________________________
nl4 (Dense)                  (None, 10)                110
_________________________________________________________________
dropout_1 (Dropout)          (None, 10)                0
_________________________________________________________________
dense_1 (Dense)              (None, 16)                176
=================================================================
Total params: 1,464
Trainable params: 1,464
Non-trainable params: 0
_________________________________________________________________

In [59]:
precision=tf.keras.metrics.Precision(name='precision')
recall=tf.keras.metrics.Recall(name='recall')
accuracy=tf.keras.metrics.Accuracy(name='accuracy')
callback = tf.keras.callbacks.EarlyStopping(monitor='accuracy',mode='max', patience=15 ,restore_best_weights=True)

In [60]:
Adam = tf.optimizers.Adam(lr=0.003, beta_1=0.9, beta_2=0.997, epsilon=1e-08, decay=0.0)

In [61]:
model.compile(optimizer=Adam, 
              loss=tf.keras.losses.CategoricalCrossentropy(from_logits=True),
              metrics = [precision,recall,accuracy]
              )

In [62]:
#df.astype

from keras import backend as K #转换为张量
X_train1 = K.cast_to_floatx(x_train)
y_train1 = K.cast_to_floatx(y_train)

In [63]:
history = model.fit(x=x_train, y=y_train,epochs=20,batch_size =5, callbacks=[callback]  )

Epoch 1/20
4826/4826 [==============================] - 4s 698us/step - loss: 284.7618 - precision: 0.1119 - recall: 0.0045 - accuracy: 0.0359
Epoch 2/20
4826/4826 [==============================] - 3s 650us/step - loss: 2.0227 - precision: 0.0000e+00 - recall: 0.0000e+00 - accuracy: 0.0000e+00
Epoch 3/20
2615/4826 [===============>..............] - ETA: 1s - loss: 2.0058 - precision: 0.0000e+00 - recall: 0.0000e+00 - accuracy: 0.0000e+00

KeyboardInterrupt:

In [ ]:
y_test_predicted = model.evaluate(x_test,y_test)

In [ ]:
y_test_predicted